{{!-- Setup the main.handlebars file so it's able to be used by Handlebars. --}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Burger App</title>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Custom CSS -->
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css">
		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- Bootstap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<!-- Font Awesome Icons -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Put font here -->
		<!-- Javascript -->
		<script src="/assets/js/burgers.js"></script>
		<link rel="icon" href="/assets/img/burger.svg">  <!-- favicon (not working) -->
		<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
		<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
		<style>
		/* NOTE: Css file has issues getting linked. Error: because its MIME type ('text/html') is not a supported stylesheet MIME type, and strict MIME checking is enabled. */
			body{
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='170' height='170' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='28' height='28' fill-opacity='0.76' fill='%23ff7229'/%3E%3C/svg%3E");
			}
		</style>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
